body {
  color: var(--gray-600);
}
.page-title {
  display: block;
  margin: 0.5em 0;
  text-align: center;
  color: var(--gray-800);
}
.container {
  margin: 0 auto;
  padding: 1.5rem 0.5rem;
  max-width: var(--max-width);
  text-align: center;
  display: grid;
  gap: 1rem;
}
.container p,
.container img {
  margin: 0 auto;
}
.group {
  padding: 2rem;
  max-width: var(--max-width);
  background: var(--gray-50);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
}
p.section-title {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
  background: var(--gray-300);
  padding-inline: 1rem;
  width: max-content;
  min-width: 200px;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  transform: skew(-10deg);
  text-align: center;
}

.btn-group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.alert-group {
  display: grid;
  gap: 0.4rem;
  text-align: left;
}
.links-lists a {
  display: block;
}
.image {
  max-height: 440px;
}
.form-wrapper {
  margin-top: 2rem;
  text-align: initial;
}
.loaders {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.loading-2 {
  border-top-color: var(--red-dark);
  animation-delay: 0.5s;
}
.loading-3 {
  animation-delay: 0.8s;
  border-top-color: var(--green-dark);
}
